/*
    Created on : 12-mars-2015, 22:06:55
    Author     : vincent
*/

body {
    min-width:  700px;
    min-height: 400px
}

.exemples h4 {
   /* margin-top: 20px; */
   font-weight: bold;
}

.exemple {
    background-color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top : 20px;
    padding-bottom: 20px;
    
    border: 1px solid #F1F1F1;
        
        
}

.param {
  border: 1px solid #F2F2F2;
  padding: 10px;
  background-color: #E9F9F9;
  margin-bottom: 10px;
  border-radius: 5px;
}

    .param h4 {
      font-size: .99em;
    }
    
    .param li {
        font-size:.9em;
    }
    
.panel.panel-primary {
  margin-bottom: 20px;
}    